body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222f3e;
  height: 100vh;
  font-family:  Georgia, 'Times New Roman', Times, serif;
}

h1, p {
  color: aliceblue;
  text-align: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.restart {
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 35px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: linear-gradient(180deg, rgba(16,15,34,1) 0%, rgba(7,110,153,1) 0%, rgba(0,210,211,1) 100%, rgba(9,68,121,1) 100%);
  color: white;
  font-weight: bold;
  transition: all 0.25s ease-out;
}

.restart:hover {
  position: relative;
  top: -2px;
  box-shadow: -6px 10px 8px 2px rgba(87, 224, 248, 0.12);
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 350px;
  color: #222f3e;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  background-color: #00d2d3;
  border: 1px solid #222f3e;
  cursor: pointer;
  font-size: 3rem;
}

.message {
  font-size: 1.2rem;
}